<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
        background-color: #abeeec;
        }
        h1{
            color:rgb(17, 142, 192);
        }
        .container{
            border:solid rgb(197, 186, 186);
            size:5px;
            padding:15px;
        }
    </style>
</head>
<body>
    <center>
        <div class="container">
    <h1>login</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" height="100" width="100">
    <form method="post">        
        <label for=""><b>Username:</b></label>
        <input type="text" placeholder="Enter username" name="username"><br><br>
        <label for=""><b>Password:</b></label>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <button class="button">cancel</button>
        <button class="button">submit</button>
        </div>
    </form>
    </center>
</body>
</html>