<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .button {
            background-color: #a4eeec;
        }
        .container{
            border:solid rgb(197, 186, 186);
            size:5px;
            padding:15px;
        }
        h1{
            color:rgb(24, 169, 231);
        }
    </style>
</head>
<body>
    <center>
        <div class="container">
    <h1>Register</h1>
    <form method="post">
        <p>Please fill this form to create an account</p>
        <label for="">Username:</label>
        <input type="text" placeholder="Enter username" name="username"><br><br>
        <label for="">Mobile:</label>
        <input type="number" placeholder="Enter mobile" name="mobile"><br><br>
        <label for="">Email:</label>
        <input type="email" placeholder="Enter email" name="email"><br><br>
        <label for="">Address:</label>
        <input type="text" placeholder="Enter address" name="address"><br><br>
        <label for="">Password:</label>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <button class="button">Register</button>
        <p>Already have an account&nbsp;&nbsp;<a href="login.html">Login</a></p>
    </form>
    </div>
    </center>
</body>
</html>